sudo: false

dist: trusty

language: cpp

addons: &addons
  apt:
    packages: &common_deps
      - cmake
      - libtbb-dev
    sources: &sources
      - ubuntu-toolchain-r-test
      - llvm-toolchain-trusty-4.0
      - llvm-toolchain-trusty-5.0

cache:
  apt: true
#  ccache: true
#  directories:
#    - $BUILD_DEPS


# Do not build our sync branch.
branches:
  only:
    - master
    - "*Travis*"

matrix:
  include:
    # There seems to be a hard limit to how many machines a Travis build will
    # across all platforms. By interleaving OS X, the hope is to get in the
    # queue faster while not blocking Linux builds from occuring.

    # Coverage
    - env: CXX=g++ CC=gcc BUILD_TYPE=Debug EXTRA_OPTS="-Dcoverage=ON"
      compiler: gcc
      addons:
        apt:
          sources: *sources
          packages: [*common_deps, 'lcov']

    # GCC 5
    - env: CXX=g++-5 CC=gcc BUILD_TYPE=Debug
      compiler: gcc
      addons:
        apt:
          sources: *sources
          packages: [*common_deps, 'g++-5', 'g++-5-multilib', 'libc6-dbg']
    - env: CXX=g++-5 CC=gcc BUILD_TYPE=Release
      compiler: gcc
      addons:
        apt:
          sources: *sources
          packages: [*common_deps, 'g++-5', 'g++-5-multilib', 'libc6-dbg']

    # GCC 6
    - env: CXX=g++-6 CC=gcc BUILD_TYPE=Debug
      compiler: gcc
      addons:
        apt:
          sources: *sources
          packages: [*common_deps, 'g++-6', 'g++-6-multilib', 'libc6-dbg']
    - env: CXX=g++-6 CC=gcc BUILD_TYPE=Release
      compiler: gcc
      addons:
        apt:
          sources: *sources
          packages: [*common_deps, 'g++-6', 'g++-6-multilib', 'libc6-dbg']

    # Clang 4
    - env: CXX=clang++-4.0 CC=clang-4.0 BUILD_TYPE=Debug
      compiler: clang
      addons:
        apt:
          sources: *sources
          packages: [*common_deps, 'clang-4.0', 'g++-multilib', 'libc6-dbg']
    - env: CXX=clang++-4.0 CC=clang-4.0 BUILD_TYPE=Release
      compiler: gcc
      addons:
        apt:
          sources: *sources
          packages: [*common_deps, 'clang-4.0', 'g++-multilib', 'libc6-dbg']

    # Clang 5
    - env: CXX=clang++-5.0 CC=clang-5.0 BUILD_TYPE=Debug
      compiler: clang
      addons:
        apt:
          sources: *sources
          packages: [*common_deps, 'clang-5.0', 'g++-multilib', 'libc6-dbg']
    - env: CXX=clang++-5.0 CC=clang-5.0 BUILD_TYPE=Release
      compiler: clang
      addons:
        apt:
          sources: *sources
          packages: [*common_deps, 'clang-5.0', 'g++-multilib', 'libc6-dbg']

before_install:
  - export LANG=en_US.UTF-8
  - export LANGUAGE=en_US:en
  # Install coveralls
  - gem install coveralls-lcov -v 1.5.0

script:
- echo "Downloading Latest ROOT binaries."
- |
  pwd
  HOME_FOLDER=$(pwd)/../
  # Go one level up from REPO_SLUG/rootbench
  cd $HOME_FOLDER
  mkdir root
  d=$(date +%a)
  for i in `seq 1 7`; do
    ROOT_TAR=http://lcgpackages.web.cern.ch/lcgpackages/tarFiles/nightlies/rootcov/$d/ROOT-HEAD_507d5-x86_64-ubuntu1404-gcc48-opt.tgz
    if curl -s -f --head $ROOT_TAR ; then
       break;
    fi
    d=$(date +%a -d "$d - 1 day")
  done;
- |
  cd root
  echo "Downloading and untaring $ROOT_TAR" && echo -en "travis_fold:start:untar.ROOT"
  curl $ROOT_TAR | tar xvz > untar-details.log
  ls -la
  source ROOT/HEAD/x86_64-ubuntu1404-gcc48-opt/bin/thisroot.sh
  cd $HOME_FOLDER
  echo -en "travis_fold:end:untar.ROOT"
- |
  if [ "${EXTRA_OPTS}" == "-Dcoverage=ON" -a "${TRAVIS_OS_NAME}" == "linux" ]; then
    echo "Downloading Latest ROOT .gcno binaries."
    cd $HOME_FOLDER
    mkdir $HOME_FOLDER/rootgcno
    d=$(date +%a)
    for i in `seq 1 7`; do
      ROOTGCNO_TAR=http://lcgpackages.web.cern.ch/lcgpackages/tarFiles/nightlies/rootcov/$d/rootgcno.tgz
      if curl -s -f --head $ROOTGCNO_TAR ; then
        break;
      fi
      d=$(date +%a -d "$d - 1 day")
    done;
    echo "Downloading and untaring $ROOTGCNO_TAR" && echo -en "travis_fold:start:untar.ROOTGCNO"
    wget $ROOTGCNO_TAR
    tar zxvf rootgcno.tgz -C $HOME_FOLDER/rootgcno > untar-details.log
    mkdir $HOME_FOLDER/lcov && cd $HOME_FOLDER/lcov
    wget https://github.com/linux-test-project/lcov/archive/v1.12.zip
    unzip v1.12.zip
    LCOV="`pwd`/lcov-1.12/bin/lcov --gcov-tool gcov"
    mkdir -p $HOME_FOLDER/coveralls
    cp -av $HOME_FOLDER/rootgcno/rootgcno/* $HOME_FOLDER/coveralls/ &> copy_output.log
    echo "Cloning ROOT sources"
    git clone https://github.com/root-project/root.git $HOME_FOLDER/rootsource
  fi
- echo $ROOTSYS
- mkdir $HOME_FOLDER/build
- cd $HOME_FOLDER/build
- export GCOV_PREFIX=`pwd`
- export GCOV_PREFIX_STRIP=0
- cmake -DCMAKE_C_COMPILER=${CC} -DCMAKE_CXX_COMPILER=${CXX} \
        -DCMAKE_BUILD_TYPE=${BUILD_TYPE} -DCMAKE_CXX_FLAGS="${EXTRA_FLAGS}" \
        ${EXTRA_OPTS} ../rootbench
- cmake --build .
- |
  if [ "${EXTRA_OPTS}" == "-Dcoverage=ON" -a "${TRAVIS_OS_NAME}" == "linux" ]; then
      touch $HOME_FOLDER/build/coverage.init_part1
      echo "LCOV init part 1 (due complex setup of CI slaves for ROOT builds)"
      find $HOME_FOLDER/build -name "*.gcno" -exec cp "{}" $HOME_FOLDER/coveralls/ \;
      travis_wait $LCOV -c -i -d $HOME_FOLDER/coveralls/ --no-markers --quiet --base-directory `pwd` \
      --rc "geninfo_adjust_src_path=/mnt/vdb/lsf/workspace/lcg_ext_rootcov/BUILDTYPE/Release/COMPILER/native/LABEL/ubuntu14/build/projects/ROOT-HEAD/src/ROOT-HEAD-build/=>`echo $ROOTSYS/`" \
      --output-file $HOME_FOLDER/build/coverage.init_part1
  fi
- |
  if [ "${EXTRA_OPTS}" == "-Dcoverage=ON" -a "${TRAVIS_OS_NAME}" == "linux" ]; then
      touch $HOME_FOLDER/build/coverage.init_part2
      echo "LCOV init part 2 (due complex setup of CI slaves for ROOT builds)"
      travis_wait $LCOV -c -i -d $HOME_FOLDER/coveralls/ --no-markers --quiet --base-directory `pwd` \
      --rc "geninfo_adjust_src_path=/mnt/vdb/lsf/workspace/lcg_ext_rootcov/BUILDTYPE/Release/COMPILER/native/LABEL/ubuntu14/build/projects/ROOT-HEAD/src/ROOT/HEAD/=>`echo $HOME_FOLDER/rootsource/`" \
      --output-file $HOME_FOLDER/build/coverage.init_part2
  fi
- |
  if [ "${EXTRA_OPTS}" == "-Dcoverage=ON" -a "${TRAVIS_OS_NAME}" == "linux" ]; then
      touch $HOME_FOLDER/build/coverage.init_part11
      echo "LCOV init part 1.1 (due complex setup of CI slaves for ROOT builds)"
      find $HOME_FOLDER/build -name "*.gcno" -exec cp "{}" $HOME_FOLDER/coveralls/ \;
      travis_wait $LCOV -c -i -d $HOME_FOLDER/coveralls/ --no-markers --quiet --base-directory `pwd` \
      --rc "geninfo_adjust_src_path=/build/workspace/lcg_ext_rootcov/BUILDTYPE/Release/COMPILER/native/LABEL/ubuntu14/build/projects/ROOT-HEAD/src/ROOT-HEAD-build/=>`echo $ROOTSYS/`" \
      --output-file $HOME_FOLDER/build/coverage.init_part11
  fi
- |
  if [ "${EXTRA_OPTS}" == "-Dcoverage=ON" -a "${TRAVIS_OS_NAME}" == "linux" ]; then
      touch $HOME_FOLDER/build/coverage.init_part22
      echo "LCOV init part 2.1 (due complex setup of CI slaves for ROOT builds)"
      travis_wait $LCOV -c -i -d $HOME_FOLDER/coveralls/ --no-markers --quiet --base-directory `pwd` \
      --rc "geninfo_adjust_src_path=/build/workspace/lcg_ext_rootcov/BUILDTYPE/Release/COMPILER/native/LABEL/ubuntu14/build/projects/ROOT-HEAD/src/ROOT/HEAD/=>`echo $HOME_FOLDER/rootsource/`" \
      --output-file $HOME_FOLDER/build/coverage.init_part22
  fi
- ctest || true
- |
  if [ "${EXTRA_OPTS}" == "-Dcoverage=ON" -a "${TRAVIS_OS_NAME}" == "linux" ]; then
      find $HOME_FOLDER/build -name "*.gcda" -exec cp "{}" $HOME_FOLDER/coveralls/ \;
      touch $HOME_FOLDER/build/coverage.info_part1
      echo "LCOV info part 1 (due complex setup of CI slaves for ROOT builds)"
      travis_wait $LCOV -c -d $HOME_FOLDER/coveralls/ --base-directory `pwd` --ignore-errors graph \
      --rc "geninfo_adjust_src_path=/mnt/vdb/lsf/workspace/lcg_ext_rootcov/BUILDTYPE/Release/COMPILER/native/LABEL/ubuntu14/build/projects/ROOT-HEAD/src/ROOT-HEAD-build/=>`echo $ROOTSYS/`" \
      --output-file $HOME_FOLDER/build/coverage.info_part1 &> log
  fi
- |
  if [ "${EXTRA_OPTS}" == "-Dcoverage=ON" -a "${TRAVIS_OS_NAME}" == "linux" ]; then
      find $HOME_FOLDER/build -name "*.gcda" -exec cp "{}" $HOME_FOLDER/coveralls/ \;
      touch $HOME_FOLDER/build/coverage.info_part11
      echo "LCOV info part 1.1 (due complex setup of CI slaves for ROOT builds)"
      travis_wait $LCOV -c -d $HOME_FOLDER/coveralls/ --base-directory `pwd` --ignore-errors graph \
      --rc "geninfo_adjust_src_path=/build/workspace/lcg_ext_rootcov/BUILDTYPE/Release/COMPILER/native/LABEL/ubuntu14/build/projects/ROOT-HEAD/src/ROOT-HEAD-build/=>`echo $ROOTSYS/`" \
      --output-file $HOME_FOLDER/build/coverage.info_part11 &> log
  fi
- |
  if [ "${EXTRA_OPTS}" == "-Dcoverage=ON" -a "${TRAVIS_OS_NAME}" == "linux" ]; then
      echo "LCOV info part 2 (due complex setup of CI slaves for ROOT builds)"
      touch $HOME_FOLDER/build/coverage.info_part2
      travis_wait $LCOV -c -d $HOME_FOLDER/coveralls/ --base-directory `pwd` --ignore-errors graph \
      --rc "geninfo_adjust_src_path=/mnt/vdb/lsf/workspace/lcg_ext_rootcov/BUILDTYPE/Release/COMPILER/native/LABEL/ubuntu14/build/projects/ROOT-HEAD/src/ROOT/HEAD/=>`echo $HOME_FOLDER/rootsource/`" \
      --output-file $HOME_FOLDER/build/coverage.info_part2 &> log
  fi
- |
  if [ "${EXTRA_OPTS}" == "-Dcoverage=ON" -a "${TRAVIS_OS_NAME}" == "linux" ]; then
      echo "LCOV info part 2.1 (due complex setup of CI slaves for ROOT builds)"
      touch $HOME_FOLDER/build/coverage.info_part22
      travis_wait $LCOV -c -d $HOME_FOLDER/coveralls/ --base-directory `pwd` --ignore-errors graph \
      --rc "geninfo_adjust_src_path=/build/workspace/lcg_ext_rootcov/BUILDTYPE/Release/COMPILER/native/LABEL/ubuntu14/build/projects/ROOT-HEAD/src/ROOT/HEAD/=>`echo $HOME_FOLDER/rootsource/`" \
      --output-file $HOME_FOLDER/build/coverage.info_part22 &> log
  fi

after_success:

- |
  if [ "${EXTRA_OPTS}" == "-Dcoverage=ON" -a "${TRAVIS_OS_NAME}" == "linux" ]; then
      echo "LCOV combining all parts"
      $LCOV -a $HOME_FOLDER/build/coverage.init_part1 -a $HOME_FOLDER/build/coverage.init_part2 -a $HOME_FOLDER/build/coverage.info_part1 -a $HOME_FOLDER/build/coverage.info_part2 -o $HOME_FOLDER/build/coverage.total
      $LCOV -a $HOME_FOLDER/build/coverage.init_part11 -a $HOME_FOLDER/build/coverage.init_part22 -a $HOME_FOLDER/build/coverage.info_part11 -a $HOME_FOLDER/build/coverage.info_part22 -o $HOME_FOLDER/build/coverage.total
      $LCOV -r $HOME_FOLDER/build/coverage.total \*/usr* \*/*-prefix/* \*/G__*.cxx \*/install/* \*/qtgsi/* \*/Pythia8/* \*/TDav* \*/CMake*.cpp  \*/*.gen  \*/*.inc  \*/*.def  \*/VecCore/* \*/Roo1* \*/Roo2* -o $HOME_FOLDER/build/coverage.total
      $LCOV -r $HOME_FOLDER/build/coverage.total \*/build/workspace/lcg_ext_rootcov/* -o $HOME_FOLDER/build/coverage.total
      $LCOV -r $HOME_FOLDER/build/coverage.total \*/mnt/vdb/lsf/workspace/lcg_ext_rootcov/* -o $HOME_FOLDER/build/coverage.total
      $LCOV -r $HOME_FOLDER/build/coverage.total \*/rootbench/* -o $HOME_FOLDER/build/coverage.total
      $LCOV -l $HOME_FOLDER/build/coverage.total
      cd ../rootbench
      file -i $HOME_FOLDER/build/coverage.total
      CHARS=$(python -c 'print u"\xE2".encode("utf8")')
      sed 's/['"$CHARS"']//g' < $HOME_FOLDER/build/coverage.total > $HOME_FOLDER/build/coverage.total.final
      coveralls-lcov -v --source-encoding=US-ASCII $HOME_FOLDER/build/coverage.total.final
  fi
on_failure:
  -|
   echo "Showing current directory contents"
   ls -la